In [36]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd

In [37]:
# Đường dẫn tương đối đến thư mục chứa file CSV
folder_path = "data_and_crawl_data"

# Tên file CSV
file_name = "comments.csv"

# Đường dẫn đến file CSV (kết hợp đường dẫn thư mục và tên file)
file_path = "../" + folder_path + "/" + file_name


df = pd.read_csv(file_path)

In [38]:
df.head()

                                            Comments  n_stars  Label
0                                             Tạm ổn        3    NaN
1          Nhân viên tư vấn thân thiệt và nhiệt tình        5    NaN
2                    sao pin con này bị sao vậy shop        5    NaN
3  Mình mua iphone 15 pro max 256 màu tự nhiên mớ...        4    NaN
4  Chẳng có gì để chê, Pin rất trâu và sạc rất nh...        5    NaN

In [39]:
comments = df.Comments

In [40]:
comments

0                                                  Tạm ổn
1               Nhân viên tư vấn thân thiệt và nhiệt tình
2                         sao pin con này bị sao vậy shop
3       Mình mua iphone 15 pro max 256 màu tự nhiên mớ...
4       Chẳng có gì để chê, Pin rất trâu và sạc rất nh...
                              ...
1309                                                   Ok
1310    Ok . nhưng mau hết PIN . bù lại hổ trợ xạc nha...
1311                                 Dùng tốt so với giá.
1312                       Máy hơi nóng, nói chung tạm ổn
1313    Cấu hình ổn. Mỗi tội mau nóng máy vs tụt pin q...
Name: Comments, Length: 1314, dtype: object

In [41]:
analyzer = SentimentIntensityAnalyzer()
labels = []
for comment in comments:
    vs = analyzer.polarity_scores(comment)
    if vs["compound"] >= 0.05:
        labels.append("positive")
    elif vs["compound"] > -0.05: 
        labels.append("neutral")
    elif vs["compound"] <= -0.05:
        labels.append("negative")

In [42]:
new_labels = pd.Series(labels)

In [43]:
new_labels.head()

0    neutral
1    neutral
2    neutral
3    neutral
4    neutral
dtype: object

In [44]:
new_labels.shape

(1314,)

In [45]:
new_comments = pd.Series(comments)

In [46]:
new_comments.head()

0                                               Tạm ổn
1            Nhân viên tư vấn thân thiệt và nhiệt tình
2                      sao pin con này bị sao vậy shop
3    Mình mua iphone 15 pro max 256 màu tự nhiên mớ...
4    Chẳng có gì để chê, Pin rất trâu và sạc rất nh...
Name: Comments, dtype: object

In [47]:
new_comments.shape

(1314,)

In [48]:
new_df = pd.concat([new_comments, new_labels], axis=1)

In [49]:
new_df.head(10)

                                            Comments         0
0                                             Tạm ổn   neutral
1          Nhân viên tư vấn thân thiệt và nhiệt tình   neutral
2                    sao pin con này bị sao vậy shop   neutral
3  Mình mua iphone 15 pro max 256 màu tự nhiên mớ...   neutral
4  Chẳng có gì để chê, Pin rất trâu và sạc rất nh...   neutral
5  Mới dùng 1thang thì còn 99% có sao k ạ Có csbh...   neutral
6  mik mới mua dc 16 ngày lỗi không nhận sim cái ...   neutral
7  Mình dùng 4 tháng thấy máy rất ok nhé . Pin vẫ...  positive
8                             Sạc pin nhanh, rất đã.   neutral
9                                                 Ok  positive

In [55]:
# Đổi tên cột thành 'Labels'
new_df1 = new_df.rename(columns={0: 'Labels', 1: 'Comments'})

In [56]:
new_df1.head()

                                            Comments   Labels
0                                             Tạm ổn  neutral
1          Nhân viên tư vấn thân thiệt và nhiệt tình  neutral
2                    sao pin con này bị sao vậy shop  neutral
3  Mình mua iphone 15 pro max 256 màu tự nhiên mớ...  neutral
4  Chẳng có gì để chê, Pin rất trâu và sạc rất nh...  neutral

In [57]:
# Lưu DataFrame thành file CSV
new_df1.to_csv('data_after_classify_by_vader.csv', index=True)  # index=False để không lưu cột index của DataFrame